html, body {
  background:#FFF;
  font-family: 'ProximaNova-Light';
  color:#333;
  text-align:center;
  margin:0px;
  padding:0px;
  line-height:30px;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proxima-nova-light.eot');
  src: url('fonts/proxima-nova-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima-nova-light.woff') format('woff'),
       url('fonts/proxima-nova-light.ttf') format('truetype'),
       url('fonts/proxima-nova-light.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/proxima-nova-regular.eot');
  src: url('fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima-nova-regular.woff') format('woff'),
       url('fonts/proxima-nova-regular.ttf') format('truetype'),
       url('fonts/proxima-nova-regular.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('fonts/proxima-nova-semibold.eot');
  src: url('fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima-nova-semibold.woff') format('woff'),
       url('fonts/proxima-nova-semibold.ttf') format('truetype'),
       url('fonts/proxima-nova-semibold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/proxima-nova-bold.eot');
  src: url('fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima-nova-bold.woff') format('woff'),
       url('fonts/proxima-nova-bold.ttf') format('truetype'),
       url('fonts/proxima-nova-bold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNova-Light", Helvetica Neue, Helvetica, Helvetica;
}

header h1 {color:#FFF; font-size:2.5rem;}
header h3.subheader {color:#FFF; font-size:1.5rem;}

.content h6 {color:#e93c0f; font-size:1rem; font-family: 'ProximaNova-Semibold';}

.logo {
  margin:70px 0 70px;
}

header {
  background:url(../img/bg-header.png) #f43503 repeat center center fixed;
  padding:0px 0 0px 0;
}

header .tag, .form {
  margin: 0 0 90px;
}

input[type="email"] {
  background-color:rgba(0, 0, 0, 0.15);
  border: 1px solid #FFF;
  border-radius:50px;
  padding:0px 22px;
  font-size:18px;
  color:#FFF;
  height:3.75rem;
  width:70%;
}

input[type="email"]:focus {
  background-color:rgba(0, 0, 0, 0.15);
  border: 1px solid #FFF;
  border-radius:50px;
  padding:0px 22px;
  font-size:18px;
  color:#FFF;
  height:3.75rem;
  width:70%;
}

input[type="submit"] {
  border: 0px solid #ffaa93;
  border-radius:50px;
  background:#FFF;
  color:#e7390a;
  font-family: 'ProximaNova-Semibold';
  font-size:18px;
  height:3.75rem;
}

.button:hover {
  border: 0px solid #fff;
  border-radius:50px;
  background:#00b27a;
  color:#FFF;
  font-family: 'ProximaNova-Semibold';
  font-size:18px;
  height:3.75rem;
}

::-webkit-input-placeholder {color: #FFF;}
:-moz-placeholder { /* Firefox 18- */ color: #FFF;}
::-moz-placeholder {  /* Firefox 19+ */ color: #FFF;}
:-ms-input-placeholder { color: #FFF;}



.content {
  background:url(../img/img-concert.png) no-repeat center center;
  padding:100px 0 100px 0;
}

.audio {
  background:url(../img/img-audio.png) repeat-x bottom;
  height:100px;
}

.join {
  margin:0px auto 90px;
}


.hiw {
  margin:60px auto 60px;
}

.hiw .connect {
  background-color:rgba(255, 255, 255, 0.7);
  border:1px solid #eaeaea;
  border-right:1px dashed #cccccc;
  border-radius: 3 0 0 3;
  padding:50px;
}

.hiw .discover {
  background-color:rgba(255, 255, 255, 0.7);
  border:1px solid #eaeaea;
  border-left:0px dashed #000;
  border-radius: 0 3 3 0;
  padding:50px;
}
.connect h3 {color:#e93c0f; font-size:2rem;}
.discover h3 {color:#e93c0f; font-size:2rem;}

.circle-container {
  margin:0 auto;
  width:70px;
}

.circle {
	border-radius: 50%;
	width: 70px;
	height: 70px;
  background:#fff;
  border:1px solid #CCC;
  margin:-162 -85 0;
  position:absolute;
}

.headphones {
  margin:18px auto;
}

.albums {
  margin:100px 0 -200;
}

footer {
  color:#ffab95;
  background: rgba(244,51,3,1);
background: -moz-linear-gradient(top, rgba(244,51,3,1) 0%, rgba(201,45,2,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,51,3,1)), color-stop(100%, rgba(201,45,2,1)));
background: -webkit-linear-gradient(top, rgba(244,51,3,1) 0%, rgba(201,45,2,1) 100%);
background: -o-linear-gradient(top, rgba(244,51,3,1) 0%, rgba(201,45,2,1) 100%);
background: -ms-linear-gradient(top, rgba(244,51,3,1) 0%, rgba(201,45,2,1) 100%);
background: linear-gradient(to bottom, rgba(244,51,3,1) 0%, rgba(201,45,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43303', endColorstr='#c92d02', GradientType=0 );
  padding:200px 0;
}

footer h2 {
  font-size:2.5rem;
  color:#FFF;
}

footer h5 {
  font-size:1.25rem;
  color:#FFF;
  margin:55px 0 70px;
}

footer p {
  font-size:0.75rem;
}

footer a {
  color:#ffab95;
  text-decoration:underline;
}

footer a:hover {
  color:#FFF;
  text-decoration:none;
}
