<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Peanut Butter & Jams - Discover new tunes">
  <title>{{ _site_name }}</title>

  <link rel="stylesheet" href="{{ theme:css src="foundation" }}">
  <link rel="stylesheet" href="{{ theme:css }}">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <script src="{{ theme:js src="vendor/modernizr" }}"></script>

</head>
<body>


<div class="row">

<!--Left Navigation-->
<div class='show-for-medium-up medium-4 large-4 columns'>
  <div>
    
    <ul class="leftmenu">
        <li><a href="/" class="logo"></a></li>
        <li class="tag-line"><h1>Peanut butter and jams is about discovering new music. Subscribe below for a weekly roundup of new tunes. 
</h1></li>
        <li>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://pbj.us3.list-manage1.com/subscribe/post?u=380c161eb42003dd5a0fb151f&amp;id=54ae4a8aa1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          	
          <div class="mc-field-group">
          	<input type="email" value="" placeholder="Email Address"name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_380c161eb42003dd5a0fb151f_54ae4a8aa1" value=""></div>
          	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe"></div>
            <div class="no-spam"> No spam, that shits weak yo.</div>
          </form>
          </div>

          <!--End mc_embed_signup-->
        </li>
        <li>Follow Peanut Butter & Jams</li>
        <li class="social"><a href=""></a> <a href=""></a> <a href=""></a> <a href=""></a></li>
        <li class="currated">Currated by <a href="http://twitter.com/aaronrelph">@aaronrelph</a> and friends from sources like <a href="">Aquarium Drunkard</a>, <a href="">Upbeat</a>, <a href="">Hypemachine</a>, <a href="">BIRP</a> and others.</li>
        <li class="made-in">Made in San Francisco</li>
    </ul>

  </div>
</div>

<!--Small Top Navigation-->
<div class='show-for-small-only small-12 columns'>
  <div class="mininav">

    <h1>Peanut Butter & Jams is a weekly email newsletter of new tunes.</h1>
    
              <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://pbj.us3.list-manage1.com/subscribe/post?u=380c161eb42003dd5a0fb151f&amp;id=54ae4a8aa1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
          <div class="mc-field-group">
            <input type="email" value="" placeholder="Email Address"name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_380c161eb42003dd5a0fb151f_54ae4a8aa1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe"></div>
            <div class="no-spam"> No spam, that shits weak yo.</div>
          </form>
          </div>

          <!--End mc_embed_signup-->
  </div>
</div>

<!--Posts-->
<div class='medium-8 large-8 columns'>{{ layout_content }}</div>

</div>







  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="{{ theme:js }}"></script>
  <script src="{{ theme:js src="vendor/jquery" }}"></script>
  <script src="{{ theme:js src="vendor/fastclick" }}"></script>

  <!--Goggle Analytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19947596-6', 'pbj.ms');
  ga('send', 'pageview');

  </script>

  <script src="{{ theme:js src="foundation.min" }}"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
