.home-container
  %a.logo{ href:"#" }
  %input{ type:'text', placeholder:"Search for an artist or song"}
  %span.octicon.octicon-search
  %p or better yet, connect with
  %button.spotify Spotify
  %button.soundcloud Soundcloud
  %button.rdio Rdio
  %a{ href:"#" } WTF is Peanut Butter & Jams

  -# %h1 Listing links
  -# %table
  -#   %thead
  -#     %tr
  -#       %th Title
  -#       %th Url
  -#       %th{:colspan => "3"}
  -#   %tbody
  -#     - @links.each do |link|
  -#       %tr
  -#         %td= link.title
  -#         %td= link.url
  -#         %td= link_to 'Show', link
  -#         %td= link_to 'Edit', edit_link_path(link)
  -#         %td= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }
  -# %br
  -#   = link_to 'New Link', new_link_path
  -#
  -# -# <p>Youtube response:</p>
  -# -# <pre id="response"></pre>
  -#
  -# %input.search{:type => "text", :value => "Find a song"}
  -#
  -# %input#loadTracks.button.big{:type => "button", :value => "Get hottest track"}/
  -# #track
  -#
  -# %p Soundcloud response:
  -# %ul#results
